.gapminder-friends {
  @media (max-width: @screen-sm-max) {
    .gapminder-friends-logo {
      img {
        width: 90%;
        height: auto;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    .groups-column {
      margin-bottom: 20px;
    }
  }
}