@media (max-width: @screen-sm-max) {
  .section-wide {
    padding-left: 0;
    padding-right: 0
  }
}

.friends-menu a {
  @media (min-width: @screen-xs-min) {
    font-size: 20px;
  }
  @media (min-width: @screen-sm-min) {
    font-size: 34px;
  }
}
