@media (max-width: @screen-xs-max) {
  .dashboard-controller {
    &.index-action {
      .dashboard-profile {
        .profile-info {
          .profile-facts {
            .profile-top-bar {
              margin-bottom: 10px;
            }
          }
        }
      }

      .dashboard-tasks-container {
        .tasks {
          .tasks-list {
            .tasks-list-item {
              .task {
                .task-info {
                  .task-bottom-bar {
                    .btn-primary {
                      .btn-block;
                    }
                  }
                }

                .task-thumbnail {
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
